.chat
  .chat__header
    .chat__header__left-header
      .chat__header__left-header__title
        グループ名
      %ul.chat__header__left-header__members
        Member：
        %li.chat__header__left-header__members__member
          メンバー名
    .chat__header__right-header
      = link_to "edit", edit_group_path(@group),class:"chat__header__right-header__button"
  .messages
    = render @messages
   
  .chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "chat__form__message"
      = f.label :image ,class: "chat__form__message__mask" do
        = icon('fas','image')
        = f.file_field :image, class:"chat__form__message__mask__image"
      = f.submit  "Send", class: "chat__form__submit"